/* ./src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  /* .btn {
    @apply block outline-none py-2 px-4 rounded-lg text-base text-white truncate font-bold; 
  }

  .btn-green{ 
    @apply bg-brand-green;
  }

  .btn-xs {
    @apply py-1 px-2;
  }

  .btn-sm {
    @apply py-2 px-4;
  }

  .btn-md {
    @apply py-3 px-6; 
  }

  .btn-lg {
    @apply py-4 px-8
  } */

  .row{
    padding-left: 100px;
    padding-right: 100px;
  }

  .nav-spacer{
    height:112px;
  }
} 

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
